.title {
  font-size: 68px;
  letter-spacing: 20px;
  width: 100%;
  text-align: center;
  font-family: arial;
  padding: 10px;
  margin: 20px 0 20px 0;
}

.grid {
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: black;
  border-width: medium;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
