.title {
  font-size: 52px;
  letter-spacing: 20px;
  width: 100%;
  text-align: center;
  font-family: arial;
  padding: 10px;
  margin-top: 20px;
}

.main {
  margin: 24px 0 24px 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.row-hints {
  min-width: 306px;
  max-width: 306px;
  min-height: 516px;
  max-height: 516px;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
}

.hint-box {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border: thin solid #fff;
  font-family: arial;
  font-size: 28px;
  text-align: center;
}

.col-hints {
  min-width: 510px;
  max-width: 510px;
  min-height: 306px;
  max-height: 306px;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
}

.grid {
  min-width: 510px;
  max-width: 510px;
  min-height: 510px;
  max-height: 510px;
  border: medium solid #000;
  margin: 5px 100px 5px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  align-self: center;
}

.box {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border: thin solid #000;
}

.btn {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.level {
  font-size: 28px;
  letter-spacing: 16px;
  width: 100%;
  text-align: center;
  font-family: arial;
  padding: 10px;
  margin-bottom: 25px;
  align-self: center;
}

.btn > button {
  border: 3px solid #000;
  font-size: 20px;
  font-family: arial;
  background-color: #fff;
  width: 170px;
  height: 55px;
  letter-spacing: 5px;
  margin: 5px;
  align-self: center;
}

.red {
  background-color: #e50000;
}

.grey {
  background-color: #c8c9d0;
}

.complete {
  background-color: #66E18A !important;
  color: #fff;
}
